<div class="row flex-container align-end">
    <div class="col-sm-8 col-sm-offset-1">
        <h2>Bem vindo {{(user|async)?.displayName}}!</h2>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary submit-button margin-bottom-1" (click)="logout()">Logout</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a routerLink="admin/adicionar" routerLinkActive="active">Adicionar prograna</a>
    </div>
</div>
<hr/>

<div class="margin-top-1">
    <router-outlet></router-outlet>
</div>
<p-growl [(value)]="msgs"></p-growl>