@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway');
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '../node_modules/angular2-toaster/toaster';
$font-family-sans-serif: 'Raleway',
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-family-serif: 'Merriweather',
Georgia,
"Times New Roman",
Times,
serif;
$headings-font-family: $font-family-sans-serif;
@import '~scss/bs-theme';
//@import '~scss/image-hover/imagehover';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.flex-container {
  display: flex;
}

.align-end {
  align-items: flex-end;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-bottom-2 {
  margin-bottom: 2em;
}

.margin-top-2 {
  margin-top: 2em;
}
